.profile-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
}

.profile-search-container h1 {
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 54px 31px;
  height: 270px;
  background-color: #e6f7ff;
  border-radius: 16px;
  margin: 0 0 54px 0;
  width: 100%;
}

.search-container h1 {
  font-size: 28px;
  font-weight: 500;
  margin: 0 0 12px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-input {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 16px;
  text-align: left;
  height: 40px;
  min-width: 100px;
  margin-bottom: 25px;
  padding: 8px 17px;
}

.search-input::placeholder {
  color: #d3cccc;
}

.search-button {
  height: 40px;
  width: 100px;
  margin-bottom: 35px;
  color: #fff;
  padding: 8px 16px;
}

@media (min-width: 576px) {
  .profile-search-container {
    padding: 54px 90px;
  }

  .search-container h1 {
    font-size: 38px;
  }

  .search-input {
    width: 480px;
  }
}
